.loadingPage {
  height: 95vh;
  position: absolute;
  top: 50%;
  left: 50%;
}
.loadingBlock .loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingBlock .loading::after,
.loadingBlock .loading::before {
  content: '';
  position: absolute;
  border: 2px solid;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border-color: #aaa;
}

.loadingBlock .loading::after {
  border-color: transparent;
  border-bottom-color: #191919;
  -webkit-animation: ajaxRotate 1s infinite linear;
  animation: ajaxRotate 1s infinite linear;
}

.loadingBlock {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
}

@keyframes ajaxRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
