.Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.16);
}
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 100;
}
.Modal > * {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
.Modal > *:first-child {
  margin-top: 1.6rem;
}
.Modal p.title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}
.Modal .content {
  border-top: 1px solid #bebebe;
  margin-top: 1.6rem;
  padding: 1rem;
}
.Modal .content p {
  padding: 0.8rem;
  font-size: 1.2rem;
  color: #999;
}

.check-boxes {
  margin-top: 1rem;
}
.check-boxes label,
.Modal .content .text-input {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.Modal .content .text-input {
  padding: 1rem 1rem;
  display: block;
  width: 90%;
  border: solid 3px #ccc;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
}

.Modal .button-wrap {
  margin: 0;
  margin-top: 0.8rem;
}
.Modal .button-wrap button {
  width: 100%;
  padding: 1.2rem 0;
  border-radius: 0 0 1rem 1rem;
  background-color: #ad7cef;
  font-size: 1.3rem;
  color: white;
  border: 0;
  cursor: pointer;
}
.Modal .button-wrap button:hover {
  background-color: #7f49c8;
}
.Modal .button-wrap button:active {
  background-color: #7e49c8;
}
