h1 {
  font-size: 24px;
  padding: 20px;
  margin: 0;
}

.App {
  font-size: 1rem;
}

.color-background {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.color-background .color-text {
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0;

  position: absolute;
  z-index: 100;
}

.color-background:hover .color-text {
  visibility: visible;
}

.btnDelete {
  width: 100%;
}

.btnAdd {
  width: 5rem;
  height: 2rem;
  margin-bottom: 1rem;
}
